$text-main: #333333;
$text-alt: #bcbcbc;
$text-highlight: #959595;
$text-header: #ffffff;
$text-secondary: #6a6a6a;

$icons: #d8d8d8;
$background: #ffffff;
$background-highlight: #efefef;
$ribon: rgba(0, 0, 0, 0.4);
$overlay: #031f30;

$header-bg: #333333;
$header-text: #f8f8f8;

$footer-height: 200px;
